 .nav{
  height: 50px;
  background: blue;
  }
  
  .nav div{
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 15px;
  font-size: 20px;
  color: white;
  }
  
  .nav ul{
    position: absolute;
    right: 20px;
 }
 
 .nav ul li{
 display: inline-block;
 }
 
 .nav ul li a{
 color: white;
 }
 
 .home{
 background: url("/b.jpg");
 background-size: cover;
 height: 100vh;
 }
 
 .home .text-container{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
 }
      
 .aome{
 background: url("/b.jpg");
 background-size: cover;
 height: 100vh;
 }

.aome .img{
  height: 20%;
  float: right;
  border-radius: 500%;
  width: 35%;
     }
  
  f{
    float: left;
  
  
  }